html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.myCanvas {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  background-image: url('DALL·E 2023-05-06 18.51.04 - background with wprd _DINA_ with with heart .png');
  background-repeat: no-repeat;
  background-size: cover;
}
