html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.myCanvas {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  background-image: url('photo_5382009946977191716_y.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
